@import "src/globals/variables";
@import "src/globals/fonts";

.logoContainer {
  border-radius: 50%;
  border: 2px solid #FFF;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  .firstLine {
    font-size: 4rem;
  }
  .secondLine{
    font-size: 1.5rem;
  }
  span {
    animation: pulsate 0.11s ease-in-out infinite alternate;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px  $textGold,
            0 0 80px  $textGold,
            0 0 90px  $textGold,
            0 0 100px  $textGold,
            0 0 150px  $textGold;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #fff,
            0 0 38px $textGold,
            0 0 73px $textGold,
            0 0 80px $textGold,
            0 0 94px $textGold,
            0 0 140px $textGold;
  }
}
@keyframes pulsateBox {
  100% {
    /* Larger blur radius */
    box-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px  $textGold,
            0 0 80px  $textGold,
            0 0 90px  $textGold,
            0 0 100px  $textGold,
            0 0 150px  $textGold;
  }
  0% {
    /* A slightly smaller blur radius */
    box-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #fff,
            0 0 38px $textGold,
            0 0 73px $textGold,
            0 0 80px $textGold,
            0 0 94px $textGold,
            0 0 140px $textGold;
  }
}
